@import "../../node_modules/blueimp-file-upload/css/jquery.fileupload.css";

#disable {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100001;
}

#loading {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding-top: 90px;
    background: rgba(255, 255, 255, .7);
    color: #666;
    width: 100%;
    min-height: 300px;
}

#media-content {
    .btn-default, a{
        color: #666;
        cursor: pointer;
    }

    #fileupload {
        cursor: pointer;
    }

    .btn-secondary {
        background: #F0F0F0;
        border-color: #ccc;

        &:hover {
            background: #e6e6e6;
        }
    }

    .card-header {
        position: sticky;
        top: 57px;
        background: #FFF;
        z-index: 3;
    }

    &[data-mce="1"] {
        .card.card {
            border-top: none;
        }

        .card-header {
            top: 0;
        }
    }
}

@media screen and (max-width: 767px) {
    #media-content {
        .box-header {
            top: 100px;
        }
    }
}

#media-breadcrumb {

    li:not(:first-child):before {
        padding: 0 5px;
        color: #ccc;
        content: "/";
    }

    a {
        &:hover {
            color: #0d6aad;
        }
    }
}

#btn-paste-group {
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: #FFF;
}

.files-selected {
    font-weight: bold;
}

#media-list {

    tr {

        display: table-row;

        td {
            font-size: 1rem;
            cursor: pointer;
            vertical-align: middle;
        }

        &:hover {
            td {
                color: #000 !important;
            }

            a {
                color: #000 !important;
            }
        }
    }

    .media {
        margin-top: 0;
        &.selected {
            background: #e1e1e1;
        }
    }

    .link-folder {
        display: flex;
        align-items: center;
    }

    .link-media {
        display: block;
    }

    .media-icon {
        color: #444;
    }

    &.media-tiles {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;

        .tile {
            display: block;
            position: relative;
            overflow: hidden;
            width: 154px;
            margin-right: 10px;
            margin-bottom: 10px;
            background: #F0F0F0;
            border:2px solid #FFF;

            &.selected {
                border-color: red;
                border-radius: 3px;
            }

            &-check {
                position: absolute;
                padding: 5px;
            }

            &-menu {
                bottom: 0;
                width: 150px;
                text-align: center;
                position: absolute;
                background: rgba(0, 0, 0, .6);
                padding: 10px 0;
                transform: translateY(100%);
                transition: transform .15s ease-in-out;
                transition-delay: .15s;
                margin-bottom: 30px;

                &:hover {
                    transform: translateY(0);
                }
            }

            &-icon {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 150px;
                    height: 150px
                }

                &:hover {
                    & + .tile-menu {
                        transform: translateY(0);
                    }
                }
            }

            &-label {
                display: flex;
                align-items: center;
                position: relative;
                height: 30px;
                z-index: 2;
                width: 150px;
                background: #E0E0E0;
                margin-bottom: 0;
                font-weight: normal;
                cursor: pointer;
                padding: 0 5px;

                div {
                    margin-top: 2px !important;
                    margin-bottom: 0 !important;
                }

                label {
                    width: 140px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 10px;
                    font-weight: normal;
                }

                .icheck-primary > input:first-child + input[type="hidden"] + label::before,
                .icheck-primary > input:first-child + label::before {
                    background: #F0F0F0;
                }

                .icheck-primary > input:first-child:checked + input[type="hidden"] + label::before,
                .icheck-primary > input:first-child:checked + label::before {
                    background: #007bff;
                }
            }
        }
    }
}

#media-info {
    .preview {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.content-wrapper { margin-left: 0 }